@use "../utilities/functions" as f;
@use "../components/colors" as *;

.section-features {
  padding: f.rem(150) 0;
  margin-top: f.rem(-190);
  background: linear-gradient(
      55deg,
      rgba($dark-color, $alpha),
      rgba($med-color, $alpha)
    ),
    url(../assets/img/nat-4.jpg);
  background-position: top;
  background-size: cover;

  //sezione diagonale
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
.feature-box {
  background-color: rgba($white, $alpha);
  padding: f.rem(25);
  height: f.rem(400);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
  transition: all 150ms ease-in;

  &__icon {
    font-size: f.rem(70);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to right, $light-color, $dark-color);
  }

  &__title {
    font-size: f.rem(20);
    text-transform: uppercase;
  }
  &__paragraph {
    font-size: f.rem(16);
    padding: f.rem(8) f.rem(16);
  }

  &:hover {
    transform: translateY(-25px) scale(1.03);
    box-shadow: 0 2rem 4rem rgba($black, 0.6);
  }
}
