@use "../utilities/functions" as f;
@use "../components/colors" as *;

.section-form {
  padding: f.rem(150);
  background: linear-gradient(
    160deg,
    rgba($dark-color, $alpha),
    rgba($med-color, $alpha)
  );
  margin-top: f.rem(-78);
}

// altro trick per avere la parte tagliata del container sarebbe
// di inserire un lienar-gradient dove i deg vanno a formare la diagonale
// le percentuali indicano dove inizia quello specifico colore
// settare poi transparent sulla parte che si vuole invisibile!
.container {
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.7) 0%,
      rgba($white, 0.7) 50%,
      transparent 50%
    ),
    url(/assets/img/nat-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: f.rem(3);
  box-shadow: 0 1.5rem 3rem rgba($black, 0.2);
  height: f.rem(500);

  //puoi anche inserire la parte tagliata con ::after
  //mettendo il form e il title position relative con z-index 1
  // mentre questo e' lo style dell ::after per avere il cut
  //   &::after {
  //     position: absolute;
  //     inset: 0;
  //     content: "";
  //     background-color: $gb-color-gray;
  //     clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
  //     width: 50%;
  //     filter: opacity(0.9);
  //     z-index: 0;
  //   }
}

.form-title {
  font-size: f.rem(35);

  &:hover {
    pointer-events: none;
  }
}
.form {
  width: 50%;
  padding: f.rem(40);

  &__group {
    margin-bottom: f.rem(20);

    &--input {
      padding: f.rem(15) f.rem(32);
      border-radius: f.rem(2);
      border: none;
      background-color: rgba($white, 0.6);
      font-family: inherit;
      transition: all 100ms ease-in;
      display: block;
      width: 80%;

      &::-webkit-input-placeholder {
        color: $gray-dark;
        font-family: inherit;
      }

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($black, 0.1);
        border-bottom: 3px solid $dark-color;
      }
      &:focus:invalid {
        border-bottom: 3px solid $secondary-dark;
      }
    }

    &--label {
      font-size: f.rem(14);
      font-weight: 700;
      display: block;
      margin-left: f.rem(32);
      margin-top: f.rem(5);
      transform: translateY(3px);
      transition: all 0.25s;
    }
    // tradotto: quando l'input è cliccato, il placeholder
    // è mostrato, il label ha opacity 0 per l'effetto ed una
    // visibility hidden. Quando si scrive, il placeholder scompare
    // di default ma il label transla verso il basso (osserva anche
    // il translateY del --label)
    &--input:placeholder-shown + &--label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-38px);
    }
  }
}
