@use "../utilities/functions" as f;
@use "../components/colors" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: f.rem(16);
  padding: f.rem(29);
  color: $text-color;
  text-rendering: optimizeSpeed;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
li {
  list-style-type: none;
}
