@use "../utilities/functions" as f;

$alpha: 0.8;
$light-color: rgb(126, 213, 111);
$med-color: rgb(85, 197, 122);
$dark-color: rgb(40, 180, 133);
$text-color: rgb(119, 119, 119);
$white: rgb(255, 255, 255);
$black: rgb(53, 53, 53);
$gb-color-gray: rgb(247, 247, 247);

.section__about {
  background-color: $gb-color-gray;
  padding: f.rem(280) 0;
  margin-top: -25vh;
}
.heading--secondary {
  font-size: f.rem(35);
  text-transform: uppercase;
  font-weight: 700;
  //? scrittura gradient
  background-image: linear-gradient(to right, $light-color, $dark-color);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  //? fine
  transition: all 250ms ease-in-out;
  letter-spacing: f.rem(3);

  &:hover {
    transform: skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.3);
  }
}
