@use "../utilities/functions" as f;
@use "../components/colors" as *;
@use "../utilities/mixins" as *;

.navigation {
  &__nav {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    //The width: 0; property in your CSS code is used to initially hide the navigation bar (&__nav) from the view.
    //When the width property is set to 0, it means the element
    //will not occupy any horizontal space on the screen.
    //This is often used in conjunction with other properties to create
    //a hidden or collapsed element that can be revealed or expanded later
    //typically through some form of user interaction like a click or hover event.
    width: 0;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }
  &__list {
    text-transform: uppercase;
    font-size: f.rem(25);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;

    &--item {
      margin-block: f.rem(20);
    }

    &--link {
      &:link,
      &:visited {
        color: $white;
        padding: f.rem(12) f.rem(35);
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $white 50%
        );
        background-size: 220%;
        transition: all 350ms ease-in-out;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $dark-color;
      }
    }
  }
}
