@use "../components/colors" as *;
@use "../utilities/functions" as f;

.section-stories {
  padding: f.rem(150) 0;
  position: relative;
}
.story {
  width: 75%;

  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($black, 0.1);
  border-radius: f.rem(3);

  padding: f.rem(60);
  transform: skewX(-10deg);

  &__shape {
    //shape foto
    width: f.rem(170);
    height: f.rem(170);
    float: left;
    clip-path: circle(50% at 50% 50%);
    //il testo viene disposto a cerchio
    shape-outside: circle(50% at 50% 50%);
    //skew back perche il container ha skew
    transform: translateX(-2rem) skewX(10deg);
    position: relative;

    &--image {
      height: 100%;
      transform: translateX(-2.7rem) scale(1.3);
      transition: all 350ms ease-in-out;
    }
    &--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: f.rem(20);
      text-align: center;
      opacity: 0;
      transition: all 350ms ease-in-out;
    }
  }
  &:hover &__shape--caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__shape--image {
    filter: blur(0.15rem) brightness(80%);
    transform: translateX(-2.7rem) scale(1);
  }

  &__text {
    transform: skew(10deg);
  }
  &__heading {
    font-size: f.rem(20);
    text-transform: uppercase;
  }
}
.story-row {
  display: grid;
  grid-template-columns: 1fr;
}
.m-top {
  margin-top: f.rem(30);
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.2;
}
