@use "../utilities/functions" as f;
@use "../components/colors" as *;

.burger-menu {
  display: none;

  &__background {
    background: radial-gradient($med-color, $dark-color);
    // background piazzato dietro al bottone
    width: f.rem(60);
    height: f.rem(60);
    border-radius: 50%;
    right: f.rem(55);
    top: f.rem(40);
    position: fixed;
    z-index: 998;
    //*  The display property is not a transitionable property,
    //* which means you cannot apply a transition effect to it.
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__lines {
    width: f.rem(25);
    height: f.rem(2);
    background-color: $black;
    float: right;
    position: relative;
    top: f.rem(29);
    right: f.rem(18);
    z-index: 999;
    transition: all 250ms ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: f.rem(25);
      height: f.rem(2);
      background-color: $black;
      float: right;
      transition: all 250ms ease;
    }
    &::after {
      top: f.rem(8);
    }
    &::before {
      top: f.rem(-8);
    }
  }

  &__btn {
    float: right;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
    position: fixed;
    background-color: $white;
    width: f.rem(60);
    height: f.rem(60);
    border-radius: 50%;
    cursor: pointer;
    right: f.rem(55);
    top: f.rem(40);
    z-index: 999;
  }

  &:checked ~ &__btn &__lines {
    background: transparent;
  }
  &:checked ~ &__btn &__lines::after {
    top: 0;
    transform: rotate(45deg);
  }
  &:checked ~ &__btn &__lines::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &:checked ~ &__background {
    transform: scale(80);
  }

  &:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }
}
